<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodieFinds</title>
    <link rel="stylesheet" href="../stylesheets/home.css">
</head>
<body>
    <div id="navbar">
        <div class="nav_logo">
            <img src="../images/logo.png" style ="float: left; width: 180px; padding-top: 7px; padding-left: 30px;" >  
        </div>
        <div class="navbar-with-logo">
            <a href="http://192.168.215.152:3000/"><b>Home</b></a>
            <a href="#reserve"><b>Reserve</b></a>
            <a href="http://192.168.215.152:3000/restaurants"><b>Restaurants</b></a>
            <input class="search" type="text" placeholder="Search..">
        </div>
      </div>
    <div class="background_image">
    <img src="../images/ramen.png" height="auto" width="1260px" style="justify-content: center; position: relative; " >
     <div class="right">Feed Your Happy!</div> 
    </div>
    <div class="qoute">
        <p>Welcome, foodie. You are entering your comfort zone!</p>
    </div>
    <div class="container-flex">
    <div>
    <img src="../images/watermelon.jpg" style="justify-content: left;">
    </div>
    <div class="restaurant">
        <div class="left"><a href="http://192.168.215.152:3000/restaurants" style="text-decoration:none;">Restaurants</a></div> 
        <div class="qoute1">
            <p><b>Great menu leads to great vibes.
                <br>
                 We’re here to assist you in finding your favorite restaurant</b>
            </p>
            <br>
            <a href="http://192.168.215.152:3000/restaurants" class="button"><b>View Restaurants</b></a>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="footer-div">
        <div class="foot">
            <p><b>About Us</b></p>
            <br>
            <p style="color:grey; font-size: small;"> 
                Assist you in finding your favorite restaurant.

                <br>
                <br>
               
            </p>
        </div>

        <div class="foot">
            <p><b>Services</b></p>
            <br>
            <p style="color:grey; font-size: small;"> 
                Catering
                <br>
                <br>
               Menu Development
               <br>
               <br>
               Ordering Facility
            </p>
        </div>
        <div class="foot">
            <p><b>Contacts</b></p>
            <br>
            <p style="color:grey; font-size: small;"> 
               Email: pnkthokchom@gmail.com
                <br>
                <br>
               Phone: 8787584755
            </p>
        </div>
        </div>
    </div>
        <script src="../javascript/home.js"></script>
</body>
</html>