<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="../stylesheets/restaurants.css">
</head>
<body>
    <div id="navbar">
        <div class="nav_logo">
            <img src="../images/logo.png" style ="float: left; width: 180px; padding-top: 7px; padding-left: 30px;" >  
        </div>
        <div class="navbar-with-logo">
            <a href="http://192.168.215.152:3000/"><b>Home</b></a>
            <a href="#news"><b>Reserve</b></a>
            <a href="http://192.168.215.152:3000/restaurants"><b>Restaurants</b></a>
            <input class="search" type="text" placeholder="Search..">
        </div>
      </div>
    <div class="head">
        <img src="../images/restaurant1.webp" width="1260px" style="justify-content: center;" >
        <div class="center">Restaurants</div> 
        <div class="center-2"><b><i>Pick and Enjoy</i></b></div>
    </div>  
    <div class="restaurants">
        <div class="container">
            <img class="teriyaki_dp" src="../images/teriyaki_trails_dp.jpg" >
            <div class="teriyaki_trail"> 
                <a href="http://192.168.215.152:3000/teriyaki_trails"><b>Teriyaki Trails Imphal</b></a>
            </div>
        </div>

        <div class="container">
            <img class="harvestcafe_dp" src="../images/harvest.jpg" >
            <div class="harvest"> 
                <a href="#harvestcafe" style="text-decoration: none;"><b>Harvest Cafe Imphal</b></a>
            </div>
        </div>
    </div>

    <div class="container-1">
        <div class="container">
            <img class="timbercafe_dp" src="../images/timber.jpg" >
            <div class="timber"> 
                <a href="#timbercafe" style="text-decoration: none;"><b>Timber Cafe Imphal</b></a>
            </div>
        </div>
        
        <div class="container">
            <img class="seoul_dp" src="../images/Seoul.jpg" >
            <div class="seoul"> 
                <a href="#seoul" style="text-decoration: none;"><b>Seoul House Manipur</b></a>
            </div>
        </div>

    </div>
</body>
</html>