<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../stylesheets/teriyaki_menu.css">
</head>
<body>
    <div id="navbar">
        <div class="nav_logo">
            <img src="../images/logo.png" style ="float: left; width: 180px; padding-top: 7px; padding-left: 30px;" >  
        </div>
        <div class="navbar-with-logo">
            <a href="http://192.168.215.152:3000/"><b>Home</b></a>
            <a href="#news"><b>Reserve</b></a>
            <a href="http://192.168.215.152:3000/restaurants"><b>Restaurants</b></a>
            <input class="search" type="text" placeholder="Search..">
        </div>
      </div>
      <div class="head">
        <img src="../images/menu.jpg" width="1260px" height="1300px" style="justify-content: center;" >
        <div class="center">View Our Menu</div> 
    </div> 
    <div class="menu">
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Shoyu_Beef_ramen.jpg" >
            </div>
            <br>
            <p>Shoyu Beef Ramen</p>
            <p><b>₹399</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Tender_teriyaki_chicken.jpg" >
            </div>
            <br>
            <p>Tender Teriyaki Chicken</p>
            <p><b>₹399</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Shoyu_Chicken_ramen.jpg" >
            </div>
            <br>
            <p>Shoyu Chicken Ramen</p>
            <p><b>₹329</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>
        
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Teriyaki_chicken_donbur.jpg" >
            </div>
            <br>
            <p>Teriyaki Chicken Donburi</p>
            <p><b>₹349</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Yasai_Vegan_ramen.jpg" >
            </div>
            <br>
            <p>Yasai Vegan Spicy Ramen</p>
            <p><b>₹299</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>
    </div>

    <div class="menu-2">
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Tonkotsu_ramen.jpg" >
            </div>
            <br>
            <p>Tonkotsu Ramen</p>
            <p><b>₹349</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Katsu_Tofu_curry.jpg" >
            </div>
            <br>
            <p>Katsu Tofu Curry</p>
            <p><b>₹299</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Miso_Chicken_ramen.jpg" >
            </div>
            <br>
            <p>Miso Chicken Ramen</p>
            <p><b>₹369</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>
        
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Katsu_chicken_curry.jpg" >
            </div>
            <br>
            <p>Katsu Chicken Curry</p>
            <p><b>₹399</b></p>
            <div class="button_main">
            <button class="button">Order Now</button>
            </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Uramaki_sushi_tuna.jpg" >
            </div>
            <br>
            <p>Uramaki Sushi Tuna</p>
            <p><b>₹279</b></p>
            <div class="button_main">
            <button class="button">Order Now</button>
            </div>
        </div>
    </div>

    <div class="menu-3">
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/uramaki_sushi_chicken.jpg" >
            </div>
            <br>
            <p>Uramaki Sushi Chicken</p>
            <p><b>₹279</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/yakimeshi_fried_rice.jpg" >
            </div>
            <br>
            <p>Yakimeshi Fried Rice</p>
            <p><b>₹199</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/Teriyaki_Chicken_Noodles.jpg" >
            </div>
            <br>
            <p>Teriyaki Chicken Noodles</p>
            <p><b>₹349</b></p>
            <div class="button_main">
                <button class="button">Order Now</button>
                </div>
        </div>
        
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/tempura_shrimp.jpg" >
            </div>
            <br>
            <p>Tempura Shrimp Platter</p>
            <p><b>₹549</b></p>
            <div class="button_main">
            <button class="button">Order Now</button>
            </div>
        </div>

        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/onigiri_chicken.jpg" >
            </div>
            <br>
            <p>Onigiri Chicken</p>
            <p><b>₹229</b></p>
            <div class="button_main">
            <button class="button">Order Now</button>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-div">
    
            <div class="foot">
                <p><b>Services</b></p>
                <br>
                <p style="color:grey; font-size: small;"> 
                    Catering
                    <br>
                    <br>
                   Menu Development
                   <br>
                   <br>
                   Ordering Facility
                </p>
            </div>
        <div class="foot">
            <p><b>Address</b></p>
            <br>
            <p style="color:grey; font-size: small;"> 
                Kwakeithel Thokchom Leikai,
                <br>
                <br>
                Imphal,Manipur 795004
            </p>
        </div>
        <div class="foot">
            <p><b>Contacts</b></p>
            <br>
            <p style="color:grey; font-size: small;"> 
               Email: pnkthokchom@gmail.com
                <br>
                <br>
               Phone: 8787584755
            </p>
        </div>
        </div>
    </div>
</body>
</html>