<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teriyaki Trails</title>
    <link rel="stylesheet" href="../stylesheets/teriyaki_trails.css">
</head>
<body>
    <div id="navbar">
        <div class="nav_logo">
            <img src="../images/logo.png" style ="float: left; width: 180px; padding-top: 7px; padding-left: 30px;" >  
        </div>
        <div class="navbar-with-logo">
            <a href="http://192.168.215.152:3000/"><b>Home</b></a>
            <a href="#news"><b>Reserve</b></a>
            <a href="http://192.168.215.152:3000/restaurants"><b>Restaurants</b></a>
            <input class="search" type="text" placeholder="Search..">
        </div>
      </div>
      <div class="head">
        <img src="../images/teriyaki_background.jpg" width="1260px" style="justify-content: center;" >
    </div> 
    <div class="menu">
        <div class="wrapper">
            <div class="container">
            <img class="teriyaki_dp" src="../images/teriyaki_trails_dp.jpg" >  
            </div>
        </div>
    </div>
    <div class="View_menu"> 
        <div class="qoute"><b>Japanese Cuisine</b></div>
        <a href="http://192.168.215.152:3000/teriyaki_menu" class="button">View Menu >></a>
    </div>
    <div class="gallery_head"><b>"Welcome to Teriyaki Trails"</b></div>
   <div class="gallery">
    <div class="1">
        <img class="Gallery-1" src="../images/Gallery-1.jpg" >  
    </div>
    <div class="2">
        <img class="Gallery-2" src="../images/Gallery-2.jpg" >
    </div>
    <div class="3">
        <img class="Gallery-3" src="../images/Gallery-3.jpg" >  
    </div>
    <div class="4">
        <img class="Gallery-4" src="../images/Gallery-4.jpg" >
    </div>
   </div>

   <div class="gallery1">
    <div class="5">
        <img class="Gallery-5" src="../images/Gallery-5.jpg" >  
    </div>
    <div class="6">
        <img class="Gallery-6" src="../images/Gallery-6.jpg" >
    </div>
    <div class="7">
        <img class="Gallery-7" src="../images/Gallery-7.jpg" >  
    </div>
    <div class="8">
        <img class="Gallery-8" src="../images/Gallery-8.jpg" >
    </div>
   </div>
   <div class="footer">
    <div class="footer-div">

        <div class="foot">
            <p><b>Services</b></p>
            <br>
            <p style="color:grey; font-size: small;"> 
                Catering
                <br>
                <br>
               Menu Development
               <br>
               <br>
               Ordering Facility
            </p>
        </div>
    <div class="foot">
        <p><b>Address</b></p>
        <br>
        <p style="color:grey; font-size: small;"> 
            Kwakeithel Thokchom Leikai,
            <br>
            <br>
            Imphal,Manipur 795004
        </p>
    </div>
    <div class="foot">
        <p><b>Contacts</b></p>
        <br>
        <p style="color:grey; font-size: small;"> 
           Email: pnkthokchom@gmail.com
            <br>
            <br>
           Phone: 8787584755
        </p>
    </div>
    </div>
</div>
</body>
</html>